
/* =========== Clearfix =========== */

.clearfix {
	content: '.';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

.clear {
	clear:both;
} 


/* =====================================*/
/* ---------- MEGA DROP MENU ---------- */
/* =====================================*/

/* Grid >> Begin  */

.one_half,
.one_half_last,
.one_third,
.one_third_last,
.one_fourth,
.one_fourth_last,
.one_fifth,
.one_fifth_last,
.one_sixth,
.one_sixth_last,
.two_thirds,
.two_thirds_last {margin-bottom: 1.5em;}

.full_width {
	width:960px;
	margin:0 auto;	
	position:relative;
}

.col {
	float:left;
	width:130px;
	padding-right:1.8em;
	margin-right:2.5em;
}

.col_last {
	float:right;
	width:130px;
	margin:0;
}

.drop_two {
	width:330px;	
}

.drop_third {
	width:530px;
}

.drop_fourth {
	width:730px;
} 

.drop_third,
.drop_fourth,
.drop_two {
	background:#fafafa;
    left: -999em;
	color:#888888;
    margin: 0 auto;
    padding: 3em 2em 2em;
    position: absolute;
    text-align: left;	
}


/* Grid >> End */

/* Top Holder >> Begin  */

.top-holder {
	-moz-box-shadow:inset 0 -5px 7px rgba(50,50,50,0.1);
	-webkit-box-shadow:inset 0 -5px 7px rgba(50,50,50,0.1);
	box-shadow:inset 0 -5px 7px rgba(50,50,50,0.1);
	height:1em;
	padding:0.4em 0 0.8em 0;
}

.top-holder .meta {
	float:right;
}

.top-holder .meta li {
	float:left;
	list-style:none;
	margin-right:1em;
} 

.top-holder .meta li a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}

.top-holder .meta a:hover {
	text-decoration:underline;
} 
 
/* Top Holder >> End  */

/* Logo >> Begin  */

.logo {
	float:left;
	margin-top:1em;
	margin-right:3em;
} 

.logo h1 {
	font-family: 'Anton';
	font-size:40px;
	line-height:1.1em;
}

.logo h1 a {
	color:#fff;
	text-decoration:none;
} 

/* Logo >> End  */

/* Menu >> Begin  */

.wrapper-menu {
	
	width:790px;
	z-index:1000;
}

ul.menu,
ul.menu ul,
ul.menu li,
ul.menu .list,
ul.menu .levels {
	margin:0;
	padding:0;
	line-height:1.5em;
	list-style:none;
}

ul.menu .levels {
	line-height:0 !important;
} 

ul.menu h3 {
	font-size:16px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.5em;
}

ul.menu {
	height:5em;
	float:right;
} 

ul.menu > li {
	float:left;
	text-align:center;
   	margin-top: 10px;
   	border:none;
	position:relative;
    width:14%;
}

ul.menu > li:hover {background:#3366cc;}

ul.menu img {width:100%;}

ul.menu .levels {
    list-style: none outside none;
    margin: 0;
	left: -999em;
	width:100%;
	top:5em;
    position: absolute;
	background:#FAFAFA;
    color: #888888;
    padding:1em;
	width:7em;
    position: absolute;
    text-align: left;
}

ul.menu .levels li {
	margin: 0;
    padding: 0;
    position: relative;
} 

ul.menu .levels ul {
    list-style: none outside none;
	background:#FAFAFA;
	margin: 0;
	top:-0.5em;
    color: #888888;
	left: -999em;
    position: absolute;
	padding:0.5em 1em;
	-moz-box-shadow:0 2px 1px rgba(51,51,51,0.2);
	-webkit-box-shadow:0 2px 1px rgba(51,51,51,0.2);
	box-shadow:0 2px 1px rgba(51,51,51,0.2);
} 

ul.menu .levels ul li {
	width:7em;
	float:left;
} 

ul.menu li .drop {
	background:url(../images/drop.png) no-repeat right 12px;
}

ul.menu > li > a {
	font-family:'Oswald';
	color: #eee;
	outline:0;
	font-weight:100;
	font-size:18px;
	text-decoration:none;
	display:block;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

ul.menu li div a,
ul.menu .levels li a {
	font-family:Arial, Helvetica, sans-serif;
	color: #888;
	font-size:14px;
	text-decoration:none;
}

.bg-menu {height:5em;}
.sep {border-right:1px dashed #d9d9d9;}


/* ----- Hover ----- */ 

ul.menu li:hover ul.levels {
	left:0;
	display:block;
}

ul.menu .levels li:hover > ul{
	left: 7em;
	display:block;
}

ul.menu li:hover ul li a:hover { display:inline;}

ul.menu li .view-all:hover {color:#000;} 

ul.menu .levels a.parent:after,
ul.menu .levels a.parent .after {
	font-family: 'WebSymbolsRegular';
    content: ">";
	after:'>';
    display: block;
    right: 10px;
	top:0;
	font-size:11px;
    position: absolute;
    width: 0;
}

.menu li:hover div {
	left:0;
	top:5em;
}

/* Menu >> End  */

/* Search >> Begin  */

.search-top {
	margin-top:1em;
	padding:.6em .6em 0 0;
	position:relative;
} 

.inline-search input[type="text"] {
    background: none repeat scroll 0 0 #F8f8f8;
    border: 1px solid #363636;
    height: 20px;
    line-height: 1.5em;
    margin-top: -10px;
    padding: 12px 30px 12px 10px;
	color:#999;
	font-size:13px;
    width: 375px;}


.inline-search input[type="text"]:focus{
    background: #fff; color:#333;}	
	
.inline-search input[type="submit"] {
  background-color: #3366cc;
  background-image: -moz-linear-gradient(top, #3366cc, #0055cc);
  background-image: url(http://assets.soundearphones.com/dropmenu/search-icon.png);        
  
  background-image: -ms-linear-gradient(top, #3366cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3366cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #3366cc, #0055cc);
  background-image: -o-linear-gradient(top, #3366cc, #0055cc);
  background-image: linear-gradient(top, #3366cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3366cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
   border: medium none;
   cursor: pointer !important;
	color:#ffffff;
   font-size: 16px;
   height: 44px;
   overflow: hidden;
   position: absolute;
   right: 8px;
   top: -1px;
   width: 40px;
	
	}

.inline-search input[type="submit"]:hover {
	cursor:pointer;
    background: #dd4b39;
   background-image: url(http://assets.soundearphones.com/dropmenu/search-icon.png);        
    
	
}

/* Search >> End  */

/* ========= COLORS ========= */


/* BLACK */

.black-menu .top-holder {
} 

.black-menu .bg-menu {
}



.black-menu ul.menu > li {
	background-color: #111;
} 
.black-menu ul.menu > li:hover {
	background-color: #3366cc;
} 

.black-menu ul.menu li:hover ul li a:hover { color:#636363}
.black-menu,
.black-menu ul.menu li .view-all,
.black-menu ul.menu .levels a.parent:after,
.black-menu ul.menu .levels a.parent .after,
.black-menu ul.menu h3 {color:#505050;}
.black-menu .drop_third,
.black-menu .drop_fourth,
.black-menu .drop_two,
.black-menu ul.menu .levels ul,
.black-menu ul.menu .levels {border-bottom: 2px solid #505050;}


div.side_nav 
{ 
    color: #333333;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    text-decoration: none;
}

div.side_nav a,
div.side_nav a:hover,
div.side_nav a:active
{ 
	text-decoration: none;
	outline: none;
    color: #333333;
}

div.side_nav ul,
div.side_nav li
{ 
    color: #333333;    
	margin: 0;
	padding: 0;
	list-style: none;
    margin-bottom:5px;
}

div.side_nav > ul > li > a
{
	height: 30px;
	line-height: 30px;
	background: #fff url(../img/itm_up.jpg) repeat-x 0 0;
	text-indent: 8px;
    border-bottom: 2px solid #E9E9E9;
    border-right: 5px solid #E9E9E9;
    margin-bottom:5px;
    color: #333333;
    font-weight:800;
    font-size:14px;
    
}
div.side_nav > ul > li > a:hover
{
	background: #f8f8f8 url(../img/itm_ovr.jpg) repeat-x 0 0;
	color: #363636;
    border-right:5px solid #DD4C3A;
    border-bottom:2px solid #DD4C3A;
    
}
div.side_nav > ul > li.selected > a,
div.side_nav > ul > li.selected > a:hover
{
	background: #f8f8f8;
	color: #333;
    border-right: 5px solid #DD4C3A;
}
div.side_nav > ul > li > a > span
{
    color: #333333;    
	background: url(../img/icn_plus.gif) no-repeat 195px 50%;
	height: 30px;
    margin-bottom:5px;
}
div.side_nav > ul > li.selected > a > span
{
    color: #333333;    
	background: url(../img/icn_minus.gif) no-repeat 195px 50%;
}

div.side_nav li > ul > li > a
{
    color:#333
    margin-left:5px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: #fff;
	text-indent: 16px;
    border-right:#fff 3px solid;
    border-bottom:1px solid #e9e9e9;
}
div.side_nav li > ul > li > a:hover
{
	background: #f8f8f8;
    border-right:3px solid #DD4C3A;
    color: #333333;  
}

div.side_nav,
div.side_nav ul,
div.side_nav li,
div.side_nav a,
div.side_nav span
{
	display: block;
	/* width: 220px; */
	overflow: hidden;
    color: #333333;
    
}
div.side_nav_expanded 
{ 
    color: #333333;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    text-decoration: none;
}

div.side_nav_expanded a,
div.side_nav_expanded a:hover,
div.side_nav_expanded a:active
{ 
    text-decoration: none;
	outline: none;
    color: #333333;
}

div.side_nav_expanded ul,
div.side_nav_expanded li
{ 
    color: #333333;    
	margin: 0;
	padding: 0;
	list-style: none;
    margin-bottom:5px;
}

div.side_nav_expanded > ul > li > a
{
	height: 30px;
	line-height: 30px;
	background: #fff url(../img/itm_up.jpg) repeat-x 0 0;
	text-indent: 8px;
    border-bottom: 2px solid #E9E9E9;
    border-right: 5px solid #E9E9E9;
    margin-bottom:5px;
    color: #333333;
    font-weight:800;
    font-size:14px;
    
}
div.side_nav_expanded > ul > li > a:hover
{
	background: #f8f8f8 url(../img/itm_ovr.jpg) repeat-x 0 0;
	color: #363636;
    border-right:5px solid #DD4C3A;
    border-bottom:2px solid #DD4C3A;
    
}
div.side_nav_expanded > ul > li.selected > a,
div.side_nav_expanded > ul > li.selected > a:hover
{
	background: #f8f8f8;
	color: #333;
    border-right: 5px solid #DD4C3A;
}
div.side_nav_expanded > ul > li > a > span
{
    color: #333333;    
	background: url(../img/icn_plus.gif) no-repeat 195px 50%;
	height: 30px;
    margin-bottom:5px;
}
div.side_nav_expanded > ul > li.selected > a > span
{
    color: #333333;    
	background: url(../img/icn_minus.gif) no-repeat 195px 50%;
}

div.side_nav_expanded li > ul > li > a
{
    color:#333
    margin-left:5px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: #fff;
	text-indent: 16px;
    border-right:#fff 3px solid;
    border-bottom:1px solid #e9e9e9;
}
div.side_nav_expanded li > ul > li > a:hover
{
	background: #f8f8f8;
    border-right:3px solid #DD4C3A;
    color: #333333;  
}

div.side_nav_expanded,
div.side_nav_expanded ul,
div.side_nav_expanded li,
div.side_nav_expanded a,
div.side_nav_expanded span
{
	display: block;
	/* width: 220px; */
	overflow: hidden;
    color: #333333;
    
}

/* Address Top */

.address-bar{
    color: #999999;
    font-size: 11px;
    height: 20px;
    display:inline;
    margin-left: 23px;
    margin-top: -18px;
    text-align: right;    
    
    }





table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
#indexcollection td.img{float:left;}

#indexcollection td{
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
}

table th {
    background:#f4f4f4;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-weight: bold;
    padding: 4px 8px;
}

.images-and-descriptions {border-right:1px solid #e9e9e9;}


#indexcollection table td {
    padding: 5px;
    border-right:1px solid #e9e9e9;
    vertical-align: middle;
}

.subtotal{
    color:#363636;
    font-size:39px;
    text-align: right;
    padding-top:27px;
    padding-right:18px;
}
h3.price-right{text-align:right;padding-right:7px;font-size:16px;}
h1.cart-title{padding-left:10px;}

input.cartpage-update {
    background:#ccc;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer !important;
    font-size: 12px;
    height: 21px;
    overflow: hidden; 
    width:50px;
    }

input.cartpage-update:hover {
    background:#222;
    }


input.cartpage-checkout {
    background: none repeat scroll 0 0 #3366CC;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer !important;
    letter-spacing:0.5px;
    font-size: 16px;
    height: 44px;
    overflow: hidden;
    width:246px;
    float: right;
    margin-right:7px;

}

input.cartpage-checkout:hover {
    background:#DD4C3A;
}

div.searchprice{font-size:15px; text-align:center;margin-top:10px;}

span.subtext{margin-top:-20px;}
dropmenu.css?4651 (line 317)

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
    display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(http://assets.soundearphones.com/uitotop/img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(http://assets.soundearphones.com/uitotop/img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

/* Isotope */
/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
#contentiso {
width: 920px;
margin: 0 auto;
margin-top: 20px;
}

.box-title {
font-size: 30px;
margin-bottom: 10px;
}

.box {
color: #212121;
padding: 15px;
float: left;
margin-left: 10px;
margin-right: 10px;
width: 250px;
background: #ffffff;
border: 2px solid #787878;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#nav-iso {
float: left;
margin-left: 20px;
margin-top: 20px;
position: fixed;
}

#nav-iso a {
text-decoration: none;
font-size: 15px;
line-height: 25px;
color: #595959;
}

#nav-iso a:hover {
color: #393939;
}

#nav-iso a:active {
color: #151515;
}


/*
div.pagination a {
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
    color: #808080;
    margin-right: 5px;
    padding: 3px 6px;
    text-align: center;
    text-decoration:none;
}

li.pagination a {
    background-color: #f1f1f1;
    border: 1px solid #e9e9e9;
    color: #363636;
    margin-right: 5px;
    padding: 3px 6px;
    text-align: center;
    text-decoration:none;
}
div.pagination a:hover {background:#DD4C3A; color:#f1f1f1;}

div.pagination ul {display:inline;}
div.pagination li {list-style:none; float:left}

li.active {
    background:#000
}

*/