/* 



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*

 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #dd4b39; color: #fff; text-shadow: none; }
::selection { background: #dd4b39; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #DD4C3A; }
a:hover { color: #3366cc; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }


q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) { overflow: hidden; }
/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }


legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }


textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }




/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

.landing-sub-text {font-size:11px;}

#fp-hero a{color:#DD4C3A}
#fp-hero a:hover{color:#DD4C3A;text-decoration:none;}
#fp-hero .btn-cta{background:#DD4C3A;color:#fff;font-size:19px;text-shadow:0 1px 1px rgba(20, 20, 20, 0.75);font-size: 21px;letter-spacing:0.75px;}
#fp-hero .btn-cta:hover{background:#3366cc;color:#fff;}
#fp-hero .carousel-caption {
  background: none repeat scroll 0 0 rgba(20, 20, 20, 0.75);
}
#fp-hero .carousel {
    margin-bottom: 0px;
}
#fp-hero h1{
    padding:10px;
    margin-bottom:5px;
    font-size:36px;
}
#fp-hero{min-height:420px;}
#fp-hero .brands-tag{margin-top:-11px}
#fp-rows p{
    padding-top:5px;
    font-size:12px;
    line-height:25px;
}
#fp-rows a{color:#000}
#fp-rows a:hover{color:#DD4C3A;text-decoration:none;}

#fp-collection-links {margin-top:15px;margin-bottom:0px;min-height:30px;}
#fp-collection-links a{color:#000;font-size:11px;}
#fp-collection-links a:hover{color:#fff;text-decoration:none;} 
#fp-collection-links .nav-tabs > li > a,#fp-collection-links .nav-pills > li > a
{
    background:#e9e9e9;
}
#fp-collection-links .nav-tabs > li > a:hover,#fp-collection-links .nav-pills > li > a:hover
{
    background:#DD4C3A;
}
.fp-hr-spacing{border-color:#e9e9e9;margin-top:0px}

#item-holder img{width:88%}
#fp-rows .item-holder{
    background:#fafafa;
    border-radius:0 6px 6px 6px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);    
}
#fp-rows h5{font-size:17px;}
#fp-rows .product-box{
    border-radius:6px;
    padding:4px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);
    background:#fff;
    }

#fp-rows .btn-cta {
    margin:10px 5px 5px;
    background:#DD4C3A;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.75px;
    text-shadow: 0 1px 1px rgba(20, 20, 20, 0.75);
}

#fp-rows .btn-cta:hover {
    background:#3366cc;
    color:#fff
}

.sidenav-style{
    background-color: #FAFAFA;border-radius:0px 9px 6px 6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.067);padding-bottom:2px;
    }

#sidenav > li a {
    -moz-transition: all 0.2s ease 0s;
}
#sidenav .nav-heading{    
    margin-left: -10px;
    padding-left: 20px;
    background-color: #DD4C3A;    
    border-radius: 4px 4px 0px 4px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:#fafafa;
    font-size:15px;
}
#sidenav > li{border-bottom:1px solid #e9e9e9;    font-size:12px;
}
#sidenav > li:hover{background:#000}

#sidenav > li.active a{
    font-size:12px;
    padding-left: 20px;        
}
#sidenav .nav-pills > li > a {
  padding-bottom: 6px;
  padding-top: 6px;
}
#sidenav .nav{margin-bottom:0}
#sidenav > li.active a, #sidenav > li a:hover {
    padding-left: 20px;
    background-color: #202020;
    color:#fafafa;
    font-size:12px;
}

#sidenav .nav-pills > .active > a, #sidenav .nav-pills > .active > a:hover {
  background-color: #DD4C3A;
  color: #FFFFFF;
}

#sidenav a{ color:#202020}

#collection-top{width:100%;margin-bottom:20px;border-bottom:1px solid #e9e9e9;}
#collection-top h1{line-height:30px;font-size:24px;}
#collection-breadcrumb{font-size:11px;line-height:13px;padding-bottom:3px;}
#collection-display h3{font-size:14px;line-height:24px;padding-left:15px;}
#collection-item {border:1px solid #e9e9e9;min-height:320px;}
#collection-item a{color:#202020}
#collection-item a:hover{color:#DD4C3A;text-decoration:none;}

#collection-product-info{margin-bottom:0}
#collection-product-info hr{border-color:#e9e9e9;padding-top:0;padding-bottom:0}
#collection-product-info .our-price{font-size:19px;font-weight:600;padding-left:10px;}
#collection-product-info .original-price{font-size:19px;font-weight:400;text-decoration: line-through;padding-left:5px;color:#aaa}
#collection-product-shipping{border-top:1px solid #e9e9e9;padding-top:3px;}
#collection-product-shipping .shipping{font-size:13px;padding-left:10px;font-weight:600}

#collection-share .collection-info{font-size:11px;color:#202020;font-weight:600;float:right;padding-right:6px}
#collection-share a{color:#202020;text-decoration:none}
#collection-share a:hover{color:#202020;text-decoration:none}

.product-pg-box{background:#fff;border:1px solid #e5e5e5;margin-left:-22px; width:100%}

#users-viewing {font-size:13px;font-weight:500}
#users-viewing a{color:#202020}
#users-viewing a:hover{color:#202020;text-decoration:none;}

#product-buy-box {background:#fff;min-height:300px;padding-top:15px;border: 2px solid #d9d9d9;margin-right: -4px;}
#product-buy-box .our-price{font-size: 28px;font-weight: 600;padding-left: 10px;}
#product-buy-box .original-price{font-size:14px;font-weight:400;text-decoration: line-through;padding-left:10px;color:#aaa}
#product-buy-box .cart-options {padding:10px 5px 5px 5px;}
#product-buy-box .cart-select {padding:0px 5px 0px 5px;min-height:15px;}
#product-buy-box .item-nav {padding:0px 5px 0px 5px;min-height:15px;}
#product-buy-box .shipping-top {background:#f8f8f8;border-top:1px solid #e9e9e9;padding-top:3px;border-bottom:1px solid #e9e9e9;}
#product-buy-box .shipping{font-size:19px;font-family:'Source Sans Pro',sans-serif;padding-left:10px;font-weight:600;color:#202020;padding-top:5px;letter-spacing: 0.75px;text-shadow: 0 1px 1px rgba(20, 20, 20, 0.3);}
#product-buy-box .btn-cta {background: #DD4C3A;color: #FFFFFF;font-size: 21px;letter-spacing: 0.75px;text-shadow: 0 1px 1px rgba(20, 20, 20, 0.75);}
#product-buy-box .btn-cta:hover {background: #3366cc;}
#product-buy-box .item-fix {margin-top:-15px;}
#product-buy-box .item-features {border-top:1px solid #e5e5e5;margin-bottom:5px;}
#product-buy-box .item-features-text{font-size:14px;font-family:'Source Sans Pro',sans-serif;padding-left:10px;font-weight:600;color:#202020;padding-top:5px;}
#product-buy-box .item-features-text a{color:#202020;}
#product-buy-box .item-features-text a:hover{color:#202020;text-decoration:none;}
#product-buy-box .share-fancy{padding-left:10px;}
#product-buy-box .product-side-phone{color: #202020;font-size: 2.1em;}

#product-buy-box .nav-tabs > li > a, .nav-pills > li > a {
    background-color: #f4f4f4;
    color: #999;
}

#product-buy-box .nav-tabs > li > a:hover, #product-buy-box .nav-pills > li > a:hover {
    background-color: #DD4C3A;
    color: #FFFFFF;
}


#gallery-buy-box .btn-cta {background: #DD4C3A;color: #FFFFFF;font-size: 15px;letter-spacing: 0.75px;text-shadow: 0 1px 1px rgba(20, 20, 20, 0.75);}
#gallery-buy-box .btn-cta:hover {background: #3366cc;}

#product-tag-cloud {background:#fff;border:1px solid #e5e5e5;padding-bottom:10px;min-height:135px;}
#product-tag-cloud h3{padding-left:10px}

#search-product-info{margin-bottom:0;border-top:1px solid #e9e9e9;margin-top:5px;padding-top:5px}
#search-product-info img{padding-left:10px;}
#search-product-info hr{border-color:#e9e9e9;padding-top:0;padding-bottom:0}
#search-product-info .our-price{font-size:19px;font-weight:600;}
#search-product-info .original-price{font-size:19px;font-weight:400;text-decoration: line-through;padding-left:5px;color:#aaa}
#search-product-shipping{border-top:1px solid #e9e9e9;padding-top:3px;}
#search-product-shipping .shipping{font-size:13px;padding-left:10px;font-weight:600}
.search-results-count {font-size:14px;font-weight:400;padding-left:10px;color:#aaa}

#rspcollection .product-pg-span{
    width: 100%;
    float:right;
    margin: 0 auto;
    margin-bottom:15px;
}

#brands-display .brand-box{margin-right:-2px;background:#fff;border:1px solid #e5e5e5; padding-top:10px; padding-bottom:5px;min-height:225px;}
#brands-display .second-row{margin-top:10px;}

#shopping-cart .btn-cta {
  background: none repeat scroll 0 0 #DD4C3A;
  color: #FFFFFF;
  font-size: 21px;
  letter-spacing: 0.75px;
  text-shadow: 0 1px 1px rgba(20, 20, 20, 0.75);
}
#shopping-cart .btn-cta:hover {
  background: #3366cc;
}

#cart-footer .nav > .cart-links > a {
    color: #202020;
}

#cart-footer .nav-footer > a{
    color:#DD4C3A;   
}
#cart-footer .nav-pills > li > a:hover {
    color:#202020;
    background:#e5e5e5;
}

#cart-footer .nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}

h2.originalprice {
    color: #363636;
    line-height: 27px;
    margin-top: 10px;
    text-align: center;
    margin-bottom:0px;
}
    
h2.ourprice {color: #333;
    line-height: 27px;
    margin-top: 10px;
    text-align: center;
    margin-bottom:0px;}
    
p.originalpricequote{color:#363636; font-size:11px;margin-top:1px;letter-spacing:1px; text-align:center;}
p.ourpricequote{color:#666; font-size:11px;margin-top:1px;letter-spacing:1px; text-align:center;}

#purchasebox img{   border: 1px solid #E9E9E9;margin-top: 4px;}

#purchasebox input[type="submit"] {
    cursor: pointer !important;
    font-size: 17px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 20px;
    margin-right:15px;
    height:48px;
    
}
#purchasebox input[type="submit"]:hover {
    background: #DD4C3A;

}

#purchasebox select{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #e9e9e9;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 18px;
    margin-bottom: 9px;
    margin-top: 12px;
    padding: 4px;
    width:56%;
    
}
/* Popup Buy Box */

#purchaseboxstatic {height:55px; background:#f5f5f5;border:1px solid #E6E6E6;}

#purchaseboxstatic img {float:left; margin-top:2px;border:1px solid #E6E6E6}

#purchaseboxstatic input[type="submit"] {
    background: #3366CC;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer !important;
    font-size: 16px;
    height: 40px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 20px;
    margin-right:15px;
}

#purchaseboxstatic input[type="submit"]:hover {
    background: #DD4C3A;

}

#purchaseboxstatic select{    background:#F9F9F9;
    border: 1px solid #E6E6E6;
    color: #333333;
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;}




#productdescriptions {margin-top:15px; width:987px;}

#productdescriptions .productboxes{height:250px; background:#fff;
    border: 1px solid #E6E6E6;
    height: 230px;
    margin-right: 2px;
    padding: 0 0 0 5px;
    width: 230px;
    margin-bottom:12px;
}

#productdescriptions .productboxes:hover{background:#f5f5f5;}


#productdescriptions h3{margin-top:5px;}

.item {
    background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font-size: 11px;
    line-height: 1.4em;
}
#container  .story {
    background: none repeat scroll 0 0 #fff;
    border:1px solid #e6e6e6;    
    float: left;
    margin: 10px;
}
#container .video{
    padding-top:0px;
 }


#container  h3 {
    padding-left:10px;
}

#container h3.twoline{
        font-size: 21px;
    margin-top: 12px;
    padding-left: 10px;
    }
#container  p {
    padding-left:10px;
    padding-right:10px;
}
#container  img {
    padding:0px;
}


#container .col0 { width: 104px; }
#container .col1 { width: 171px; }
#container .col2 { width: 233px; }
#container .col3 { width: 357px; }
#container .col4 { width: 392px; }
#container .col5 { width: 605px; }
#container .col6 { width: 729px; }
#container .col7 { width: 853px; }


#ourinfo {padding-top:0}

/* Collections Masonry Styling */
#collections {
    display:block;
  clear: both;
    
    }

#collections  .story {
    background: none repeat scroll 0 0 #fff;
    border:1px solid #e6e6e6;    
    float: left;
    margin: 8px;
    padding-top: 10px;
    display: block;    
}

#collections  .story:hover {
    background:#f5f5f5;
}
#collections .products{
    min-height:388px;
    
    }
    
#collections .honk{
    display:block;
    
    }    
#collections .video{
    padding-top:0px;
    
    }

#collections .corner-stamp {
    background: #fff;
    float: left;
    margin: 10px;
    margin-left:0;
    padding: 10px;
    width: 225px;
}





#collections  h3 {
    padding-left:10px;
}

#collections h3.twoline{
        font-size: 21px;
    margin-top: 12px;
    padding-left: 10px;
    }
#collections  p {
    padding-left:10px;
}
#collections  img {
    padding-left:10px;
}


/* Index Collection Masonry  */

/* Fixed width
#indexcollection {width:960px;}
*/
#indexcollection  .story {
    background: none repeat scroll 0 0 #fff;
    border:1px solid #e6e6e6;    
    float: right;
    margin:5px;
    margin-bottom:10px;
}
#indexcollection .video{
    padding-top:0px;
 }

#indexcollection  h2 {
    padding-left:12px;
}

#indexcollection  h3 {
    padding-left:10px;
}

#indexcollection h3.twoline{
        font-size: 21px;
    margin-top: 12px;
    padding-left: 10px;
    }
#indexcollection  p {
    padding-left:10px;
}
#indexcollection  img {
    padding:0px;
}

#rspcollection  .story {
    background: none repeat scroll 0 0 #fff;
    border:1px solid #e6e6e6;    
}
#rspcollection .product-full-span{width:97%}

#rspcollection p{padding-right:10px; padding-left:10px;}

#rspcollection h4{padding-right:10px; padding-left:10px;}




#rspcollection .video{
    padding-top:0px;
 }

#rspcollection .cornerstamp{margin-right:0}

#rspcollection  h2 {
    padding-left:12px;
}

#rspcollection  h3 {
    padding-left:10px;
}

#rspcollection h3.twoline{
        font-size: 21px;
    margin-top: 12px;
    padding-left: 10px;
    }
#rspcollection  p {
    padding-left:10px;
}
#rspcollection  img {
    padding:0px;
}

#rspcollection .cornerstamp{width:21.4043%}


#product-collection {width:84.49%;}

#product-collection .product{float:left;margin-bottom:20px;}

#product-collection .columns{width:21.4%; background:#fff;border:1px solid #e9e9e9;margin-left:3.39%;min-height:325px;}



.nav-bg{background:rgba(255, 255, 255, 0.6)}

.popover-title{margin-top:0px;}
.popover-content{margin-top:-10px;}

.bs-docs-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}
.fp-sidenav {    
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
}
.fp-sidenav.affix {
    top: 125px;
    width:19.077%;    
}
.affix {
  position: fixed;
  top:150px;
}

.fp-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
/* Big buttons */

ul.bigbuttons {
    margin-top:10px;
    list-style-type: none;
    font-size:20px;
    line-height:30px;
}
ul.bigbuttons li {
    background: #202020;
    color: #FFFFFF;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width:560px;
}
ul.bigbuttons li.bigbuttonstext {
    color: #333;
    background:#fff;
    height: 30px;
    font-size:17px;
    margin-bottom: 0px;
    margin-left:-10px;
    text-align: left;
}
ul.bigbuttons li.bigbuttonstext:hover {
    background:#fff;
}

ul.bigbuttons li:hover {
    background: #DD4B39;
}
ul.bigbuttons a {
    color:#fff;
    text-decoration:none;
}

.fp-cat-links-small {
    list-style: none outside none;

    display:inline;
}

ul.fap-cat-links-small{
    display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;    
    
    }

.fp-cat-links-small li {
    color: #333333;
    float: left;
    font-size: 11px;
    padding-right: 10px;
}

.fp-cat{
    margin-top:-10px;
    padding-left:7px;
    padding-bottom:3px;
}

.fp-cat-h4{    font-size: 15px;
    margin-bottom: 0;
    margin-top: 3px;
    padding-bottom: 0;
    padding-left: 6px;}
    
.fp-cat a{color:#333;text-decoration:none;}
.fp-cat a:hover{color:#3366cc;text-decoration:underline;}

.tag-list {float:left;}



#headphones-fp-hero h2{color:#f4f4f4;}

#headphones-fp-hero .nav>li>a{display:block;text-decoration:none;font-size:15px;color:#fff}
#headphones-fp-hero .nav>li>a:hover{text-decoration:none;background-color:#000;}
#headphones-fp-hero .nav-header>a{color:#333;}


/* Smaller Link list */


ul.normal-link-list {
    list-style-type: none;
    font-size:14px;
    letter-spacing:0.5px;
}
ul.normal-link-list li {
    color: #363636;
    padding:5px;
    
    width:250px;
    border-top:1px solid #e9e9e9;
}
ul.normal-link-list li.odd {
    background:#f4f4f4;
}

ul.normal-link-list a {
    color:#6E6E6E;
    text-decoration:none;
}

/* Products List */

ul.product-cs-list {
    list-style-type: none;
    font-size:14px;
    letter-spacing:0.5px;
    margin-left:-40px;
}
ul.product-cs-list li {
    color: #363636;
    padding:5px;
    padding-left:30px;
    width:365px;
    border-top:1px solid #e9e9e9;
}
ul.product-cs-list li.odd {
    background:#f4f4f4;
}

ul.product-cs-list a {
    color:#6E6E6E;
    text-decoration:none;
}
ul.product-cs-list a:hover {
    color:#DD4C3A;
    text-decoration:none;
}

#container-isotest .item-container {
    border:1px solid #e9e9e9; height:184px; background:#fff; width:99.6%; margin-bottom:10px;
}

#container-isotest .element {margin-bottom:20px; display:block;}

#container-isotest h2{padding-left:20px;margin-bottom:10px;margin-top:10px;}

#container-isotest .product-description{line-height:24px; margin-top:0}

#container-isotest a{text-decoration:none; color:#333}

#container-isotest a:hover{color:#DD4C3A}

#container-isotest h3{padding-left:25px;font-size:18px; margin-bottom:2px;margin-top:5px;}

#container-isotest a.moreinfobutton {
    margin-top:6px;
    color: #fff;
    text-decoration: none;
}

#container-isotest .img-border{border:1px solid #e9e9e9; margin-bottom:9px;}

.coll-count-box{margin-top:10px;}

.coll-bar-label-left{color:#737373; padding-left:15px;padding-top:8px;}

.coll-bar-label-attention{color:#222; font-style:italic;}

.coll-bar-label{color:#737373;}

#content-box p { padding-left:10px; padding-right:10px; font-size:11px; color:#757575; line-height:17px; }




#collection-nav-container {
margin-bottom:10px;    
    }

#collection-nav-container ul. { }

/* Front page */

.jumbotron {
    margin-top:40px;
    margin-left:10px;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
}

.lead {
    font-size: 20px;
    font-weight: 200;
    line-height: 35px;
    margin-left:15px;
    margin-bottom: 18px;
}

/* Address */

.addressblock{font-size:16px; line-height:18px;}

#indexcollection .col1 { width: 63px; }
#indexcollection .col2 { width: 131px; }
#indexcollection .col3 { width: 237px; }
#indexcollection .col4 { width: 275px; }
#indexcollection .col5 { width: 315px; }
#indexcollection .col6 { width: 378px; }
#indexcollection .col7 { width: 441px; }
#indexcollection .col8 { width: 563px; }

#indexcollection .corner-stamp {
    float: left;
    width: 220px;
    border:1px solid #e9e9e9;
    background:rgba(244,244,244,0.6);
}

#indexcollection .bottom-pag {
    float: right;
    border:1px solid #e9e9e9;
    background:rgba(244,244,244,0.6);
}
#indexcollection .product-box{
    float:right
    }

.transparentbox {background:none repeat scroll 0 0 rgba(244, 244, 244, 0.6)}

/* Footer */

.product-tags {padding:10px}

#footer {width:100%;background:url("../img/bot.png");min-height:260px; margin-top:40px;}

#footer h4 {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    line-height: 38px;
    text-indent: 9px;}

#footer p {color:#fff;}

#footer .copyrighttext {font-size:11px;padding-top:5px;}

#footernav ul{ 
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align:left;
    line-height:25px;
}
#footernav a{text-decoration:none;}

#footernav ul li{
    color: #f4f4f4;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-decoration:none;
    
    }

#footernav li:hover{
    color:#DD4B39;
    font-weight:800px;
    text-decoration:none;
    }
#footernav {margin-top:-15px}

#footernav .getintouch{margin-left:15px;}

#footernav .redline {color:#dd4b39;}


/* Top Four */
.top_four h1{margin-top:3px;text-align:center;font-size:24px;}
.top_four h2{margin-top:3px;text-align:center;font-size:24px;}
.top_four a{color:#363636; text-decoration:none}
.top_four a:hover{color:#DD4C3A;}


/* Product Info */

#productinfo ul li {line-height:30px}

#productinfo li {line-height:20px}


/* Pages Masonry  */

#pages {width:960px;}

#pages  .story {
    background: none repeat scroll 0 0 #fff;
    border:1px solid #e6e6e6;    
    float: left;
    margin:5px;
    margin-bottom:10px;
}

#pages .video{
    padding-top:0px;
 }
 
.content {padding:15px;}


#pages  h3 {
    padding-left:10px;
}

#pages h3.twoline{
        font-size: 21px;
    margin-top: 12px;
    padding-left: 10px;
    }
#pages  p {
    padding-left:10px;
}
#pages  img {
    padding:0px;
}


#pages .corner-stamp {
    background: #fff;
    float: left;
    width: 220px;
}


#ourprice-coll h2{font-size:17px;color:#363636;}


#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.product-center{ margin: 0 8.38%;}

/*  Product Nav Menu */ 

#product_nav {padding-top:12px;margin-left:20px;}
#product_nav p {margin-bottom:15px; font-size:11px;}

#product_nav ul{ 
     list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align:left;
    line-height:25px;
}
#product_nav a{text-decoration:none;}

#product_nav ul li{
    border-left: 5px solid #CCCCCC;
    color: #333333;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-decoration:none;
    
    }

#product_nav li:hover{
    border-left:5px solid #DD4B39;
    color:#DD4B39;
    font-weight:800px;
    text-decoration:none;
    }

/* Product Info */

#productinfo ul li {line-height:30px;padding-right:10px;}

#productinfo li {line-height:20px}

/* Element Items */


/*  Product Nav Menu */ 

#side_nav {padding-top:12px; padding-left:7px;}
#side_nav p {margin-bottom:15px; font-size:11px;}

#side_nav ul{ 
     list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align:left;
}
#side_nav a{text-decoration:none;}

#side_nav ul li{
    border-left: 5px solid #CCCCCC;
    color: #333333;
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-decoration:none;
    
    }
.affix {
    position: fixed; 

}

#side_nav li:hover{
    border-left:5px solid #DD4B39;
    color:#DD4B39;
    font-weight:800px;
    text-decoration:none;
    }

/* Theme fixes */

#container-fix{margin-top:70px}
#container-fix .header-left{margin-top:-28px}
#container-fix .pop-text{color:#DD4C3A; font-size:18px;font-weight:800;}
#container-fix .secondary-text{font-size:12px;color:#2c2c2c; letter-spacing:3.75px}
#container-fix .regular-text{font-size:13px;color:#000; letter-spacing:1.2px}

#container-fix .logo-fix{margin-left:30%;margin-bottom:7px;margin-top:-15px;}
#container-fix .logo-div{margin-top:-35px;margin-left:auto;margin-right:auto;}
#container-fix .header-fix{text-align:right;}
#container-fix .phone-header{color: #202020;font-size: 17px;letter-spacing: 6.4px;line-height: 24px;}

#container-fix .social-links-header a{color:#DD4C3A;text-decoration:none}

/* Price / Brand List styling */

#collection-listing ul{ 
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align:left;
    line-height:40px;
    margin-left:95px;
}
#collection-listing a{text-decoration:none;}

#collection-listing ul li{
    color: #f4f4f4;
    font-size: 20px;
    font-weight:800;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-decoration:none;
    
}

#collection-listing li:hover{
    color:#DD4B39;
    font-weight:800px;
    text-decoration:none;
}

/* Usage Smaller */

#usage-listing ul{ 
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align:left;
    line-height:40px;
}

#usage-listing a{text-decoration:none; color:#363636;}

#usage-listing a:hover{text-decoration:none; color:#DD4B39;}

#usage-listing ul li{
    font-size: 17px;
    font-weight:600;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    padding-left: 50px;
    text-decoration:none;
    border-bottom:1px solid #e9e9e9;    
}

#usage-listing li:hover{
    color:#DD4B39;
    background:#f5f5f5;
    font-weight:600px;
    text-decoration:none;
}

/* Product Review */

#productreview{padding-top:0px;}
#productreview p{padding-top:0px; padding-right:10px; padding-left:14px;}

.imgcontainer{padding:0;}

#taglist {padding-bottom:10px;font-size:14px;}
#taglist ul{margin-left:-15px}
#taglist li{float:left; list-style:none;padding:0; margin:0; font-size:14px;text-align:center}

#newsletterfp {height:85px; width:700px;}
#newsletterfp input[type="text"] {padding:15px; background:#f5f5f5; border:1px solid #e9e9e9;width:315px; font-size:14px; }
#newsletterfp input[type="submit"]{background:#5390B2; margin-left:-5px;border:1px solid #e9e9e9;padding:15px; color:#fff; width:100px; font-weight:800; letter-spacing:1px;}
#newsletterfp input[type="submit"]:hover{background:#CB4535}

#twitterbox {height:107px; width:700px;}
#twitterbox h3 {padding-left:0}
#twitterbox .verified-large{height:22px; width:22px;background:url('http://assets.soundearphones.com/beta/page-gfx/site-wide/twitter-badge.jpg') no-repeat; vertical-align:text-top;}
#twitterbox .city {font-size:11px; color:#333;display:block; margin-top:-12px; margin-left:25px;}


/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}





/* Misc */

q, blockquote {
    font-family: "Times New Roman",Times,serif;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    
    text-align:center;
    }

.top-nav {
    float: left;
    list-style: none outside none;
    margin: 5px 0 0;
    padding: 0;
    width: auto;
    text-decoration:none;    
}

.top-nav li {
    float: left;
    font-size: 12px;
    line-height: 22px;
    color:#ccc;
    padding: 0px 5px 0px 5px;
    margin-left:7px;
    background:#333;
    font-size:11px;
    text-decoration:none;
}

.top-nav li:hover {
	background:#dd4b39;color:#fff;
}

.top-nav a{    text-decoration:none;}

.top-nav-right {
    float: left;
    list-style: none outside none;
    margin: 1px 0 0;
    padding: 0;
    width: auto;
}


.top-nav-right li {
    float: left;
    font-size: 12px;
    line-height: 22px;
    color:#ccc;
	margin-top:5px;
	padding: 0px 5px 0px 5px;
	margin-left:7px;
	background:#333;
	font-size:11px;
    text-decoration:none;
}

.top-nav-right a{text-decoration:none;}

li.top-nav-right-phone {background:#252525;font-size:14px;}
li:hover.top-nav-right-phone{background:#252525}

.top-nav-right li:hover {
	background:#dd4b39;color:#fff;
    text-decoration:none;
}


li.cartnav {
    float: left;
    font-size: 12px;
    line-height: 32px;
    color:#fff;
	font-size:12px;
	padding: 0px 5px 0px 5px;
	margin-left:7px;
	margin-top:0px;
	background:#3366cc;
    text-decoration:none;
}

{text-decoration:none;}

.videoWrapper{padding:0}
.videoWrapper iframe {
	top: 0;
	left: 0;
	width: 100%;
}


/* Select */


.styled-select select {
   background: #f4f4f4;
   width: 640px;
   border:1px solid #e9e9e9;
   padding: 10px;
   font-size: 20px;
   border: 1px solid #ccc;
   height: 50px;
}

.small-select select {
    border: 1px solid #CCCCCC;
    font-size: 15px;
    height: 30px;
    margin-top: 3px;
    padding: 5px;
}

.small-select selec:focus {
    background:#f1f1f1;
}

.

.price-select select {
    border: 1px solid #CCCCCC;
    font-size: 15px;
    height: 30px;
    margin-left:-15px;
    margin-top: 20px;
    padding: 5px;
}
.collection-select {border:none; background:rgba(244, 244, 244, 0.6);}
.collection-select select {
    border: 1px solid  #e9e9e9;
    border-bottom:2px solid  #e9e9e9;
    background:rgba(244, 244, 244, 0.6);
    font-size: 15px;
    height: 30px;
    padding: 5px;
    width:220px;
}



.fpcategoryheader {
    height: 18px;
    margin-bottom: 20px;
    margin-top: -11px;}
.fpcategoryheader h4{   color: #555555;
    letter-spacing: 1px;}

/* Accordion Style */
.accordion-a,
.accordion-a section,
.accordion-a section header {
display:block;
}

.js .accordion-a section header {
cursor:pointer;
}

/*  Webkit keyboard focus outline only */
.js .accordion-a section header:active,
.js .accordion-a section header.no-outline {
outline:none;
}

.js .accordion-a section header:focus {
z-index:999;
}

.accordion-a section .content {
overflow:hidden;
}

.js .accordion-a section[aria-expanded="true"] .content {
visibility:visible;
}

.js .accordion-a section[aria-expanded="false"] .content {
padding-top:0;
padding-bottom:0;
visibility:hidden;
}

.js .accordion-a:not(.no-transition) section .content:not(.no-transition) {
-moz-transition-property:height, padding-top, padding-bottom, visibility;
-webkit-transition-property:height, padding-top, padding-bottom, visibility;
-o-transition-property:height, padding-top, padding-bottom, visibility;
-ms-transition-property:height, padding-top, padding-bottom, visibility;
transition-property:height, padding-top, padding-bottom, visibility;
-moz-transition-duration:0.25s;
-webkit-transition-duration:0.25s;
-o-transition-duration:0.25s;
-ms-transition-duration:0.25s;
transition-duration:0.25s;
}


/*

======================= Style element replacement ============================

*/

/* Full Template */

.body-bg-line{background:url("../img/grey.png");}

.top-container-fix{height:170px;overflow:visible;}

.nav-bar-positioning{margin-top:75px;background: #252525;height: 65px; max-height:65px; display: inherit; z-index:100;margin-bottom:25px;}

.main-logo-fix{margin-top:-27px;margin-left:-12px;display:block;min-width:115px;}

.main-logo-img-positioning{z-index:1000;margin-left:-13px;}

.copyright-links-float{float:right;margin-top:-35px;}

.search-bar-fixes{width:90%;height:34px;margin-top:11px; display:block;}

.search-bar-left{margin-left:0px;}

.search-button-right{float:right}

.search-button-margin-top{margin-top:8px}

/* collection */

.collection-top-formatting{margin-bottom:15px;margin-top:-30px;}

.collection-phone-format{float:right;margin-top:5px;}

.collection-social-share{padding-right:10px;margin-bottom:5px;float:right}

.collection-row-float-left{float:left;}

.collection-nav-left-styling{border:1px solid #e9e9e9;min-height:672px;height:100%}

.collection-product-title-block{min-height:40px; height:40px; max-height:40px;margin-bottom:5px;}

/* 404 page */

.404-img-80{width:80%}

.404-mar-left-0{margin-left:0}

.404-nav-style{border:1px solid #e9e9e9;min-height:390px;}

/* Index Page */

.nav-align-top{margin-top:0px;}

.nav-bg-styling{min-height:672px;border:1px solid #e9e9e9;height:100%;margin-right:-2px;}

.top-nav-links{height:40px; border:1px solid #e9e9e9;text-align:center;margin-right:-2px;margin-bottom:5px;}

.hero-banner{border:1px solid #e9e9e9;margin-right:-2px;}

.img-100-width{max-width:100%}

.brands-box{height:37px;border: 1px solid #e9e9e9; margin-bottom:1.5%; padding-top:10px;margin-right:-2px;}

.brands-box-sizing{width:90%;margin-left:5%;}

.overnight-box{border:1px solid #e9e9e9;margin-right:-2px;}

.index-dropdown-box{border:1px solid #e9e9e9;margin-right:-2px;background:#f8f8f8; min-height:55px;}

.index-dropdown-small{width:95%}

.index-dropdown-large{width:92%;margin-left:5px;}

.index-klipsch-mode-hero{min-height:314px;border:1px solid #e9e9e9;margin-right:-2px;background:#2362A7;margin-top:10px;}

.index-margintop-10{margin-top:10px;}

.index-hpep-products{border:1px solid #e9e9e9;width:92%}

.index-product-banners{margin-right:-3px;}

.index-skinny-clickthrough{border:1px solid #e9e9e9;margin-right:-2px}

.index-margintop-5{margin-top:5px;}

.index-earphones-bg{background:#4C8EC2;}

/* Retooled */

/* Wrapper */
#wrapper {
    width: 880px;
	padding: 0 50px;
	margin: 0 auto;
	
	background: #FFF;
	
	border: 1px solid #DDD\9;
	border-top: 12px solid #222;
	border-bottom: none;
	
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
	box-shadow: 0 0 5px rgba(0,0,0,.25);
}

/* NAV */
#nav {
    margin-bottom: .5em;
}

#nav .container > #main-nav {
	padding: 0;
	margin: 0;
	
	border-top: 1px solid #DDD;
}

#nav .container > #main-nav > li {
	position: relative;
	top: -1px;
	
	float: left;
	
	padding: 0 40px 0 0;
	margin: 0;
	
	list-style: none;
	
	border-top: 1px solid #DDD;
}

#nav .container > #main-nav > li:last-child {
	padding-right: 0;
}

#nav .container > #main-nav > li > a {
	position: relative;
	top: -1px;
	
	display: block;
	
	padding: 15px 5px 5px;
	
	color: #999;
	
	text-transform: uppercase;
	
	border-top: 1px solid transparent;
}

#nav .container > #main-nav > li > a:hover,
#nav .container > #main-nav > li.dropdown.open > a {
	color: #333;
	
	text-decoration: none;
	
	border-top-color: #333;
	border-top-width: 1px;
}

#nav .container > #main-nav > li.active a {
	padding-top: 12px;
	
	color: #222;
	
	border-top-color: #F90;
	border-top-width: 4px;
}

#nav .container > #main-nav > li > a > .caret {
	position: relative;
	top: -2px;
	
	margin-left: .5em;
}

#nav .dropdown-menu a:hover {
	background-color: #F90;
}

#nav .dropdown-menu > li > a {
	padding: 6px 12px;
}

#nav .dropdown-menu i {
	margin-right: .5em;
	
	font-size: 14px;
}

#nav .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

#nav .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}

/*------------------------------------------------------------------
[5. Responsive Nav / #responsive-nav]
*/

#responsive-nav-trigger {
    width: auto;
	padding: 5px 10px;
	
	background-color: #F8F8F8;
	background-image: url(../img/responsive-nav-bg.png);
	background-position: center right;
	background-repeat: no-repeat;
	
	color: #8F8F8F;
	
	font-size: 12px;
	line-height: 1.5;
			
	border: 1px solid #E8E8E8;
	
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#cart-header {padding-right:0}
#cart-header a{color:#202020;font-weight:600}
#cart-header a:hover{text-decoration:none;}

#responsive-nav-trigger.open {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
		
#responsive-nav {
	position: relative;
	z-index: 1001;
	
	display: none;
	
	margin: 0 0 2em;
}

#responsive-nav-items {
	display: none;
	
	padding: 12px 10px;
	margin: 0 0 1.5em;
	
	background: #F8F8F8;
	
	border: 1px solid #e3e3e3;
	border-top: none;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#responsive-nav-items ul {
	padding: 0;
	margin: 0;
}

#responsive-nav-items li {	
	list-style: none;
}

#responsive-nav-items > li > ul > li > a {
	padding-left: 30px;
}

#responsive-nav-items a {
	padding: 8px 10px;
	
	display: block;
	
	color: #222;
	
	font-size: 13px;
	font-weight: 600;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#responsive-nav-items a:hover {
	text-decoration: none;
	
	background: #DDD;
}

#responsive-nav-items li.active a {
	color: #FFF;
	
	text-decoration: none;
	
	background: #F90;
}



/* Fixed Width */

#index-splash .container,
#index-splash .container {
  width: 940px;
}
#index-splash .span12 {
  width: 940px;
}
#index-splash .span11 {
  width: 860px;
}
#index-splash .span10 {
  width: 780px;
}
#index-splash .span9 {
  width: 700px;
}
#index-splash .span8 {
  width: 620px;
}
#index-splash .span7 {
  width: 540px;
}
#index-splash .span6 {
  width: 460px;
}
#index-splash .span5 {
  width: 380px;
}
#index-splash .span4 {
  width: 300px;
}
#index-splash .span3 {
  width: 220px;
}
#index-splash .span2 {
  width: 140px;
}
#index-splash .span1 {
  width: 60px;
}
#index-splash .offset12 {
  margin-left: 980px;
}
#index-splash .offset11 {
  margin-left: 900px;
}
#index-splash .offset10 {
  margin-left: 820px;
}
#index-splash .offset9 {
  margin-left: 740px;
}
#index-splash .offset8 {
  margin-left: 660px;
}
#index-splash .offset7 {
  margin-left: 580px;
}
#index-splash .offset6 {
  margin-left: 500px;
}
#index-splash .offset5 {
  margin-left: 420px;
}
#index-splash .offset4 {
  margin-left: 340px;
}
#index-splash .offset3 {
  margin-left: 260px;
}
#index-splash .offset2 {
  margin-left: 180px;
}
#index-splash .offset1 {
  margin-left: 100px;
}

.header-points {
    color:#2c2c2c;
    font-size:12px;
    line-height:13px;
    padding-bottom:0;
}
a.header-sticker{text-decoration:underline; font-size:11px}

/* Top header styles */
.topcard-help{margin-top:5px;}
a.topcard-help{color:#222;text-decoration:none;padding-top:5px;}
a.topcard-help:hover{color:#DD4C3A;}

#visitorsonline{
    color: #222222;
    float: right;
    padding-top: 5px;
    text-align: right;
}

#user-top-functions a{color:#222; text-decoration:none;}

#header-nav-secondary{height:47px;}

#header-nav-secondary .navbar .nav > li > a {
    color: #2c2c2c;
    float: none;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing:1px;
}
#header-nav-secondary .right{border-right:1px solid #333;}

.pullright {float:right}

#header-nav-secondary .nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    border:1px solid #e9e9e9;
    line-height: 19px;
    padding: 10px 10px 11px;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing:1px;  
    color:#2c2c2c;
    
}

#header-nav-secondary .nav-pills > li > a:hover {
    color:#2c2c2c;
    background:#f1f1f1;
}

#header-nav-secondary .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}
#header-nav-secondary .nav-pills .nav > li > a:hover {
    background-color:#f1f1f1;
}    
#header-nav-secondary .nav-pills .nav > li > a:active {
    background-color:#f1f1f1;
} 


#header-nav-secondary .nav-pills .dropdown-menu:before {
    border-bottom: 7px solid #e9e9e9;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}

#header-nav-seconary .nav-pills .dropdown-menu:after {
    border-bottom: 6px solid #000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

#header-nav-secondary .dropdown-menu {
    background-color: #f1f1f1;
}
#header-nav-secondary .dropdown.open .dropdown-toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}
#header-nav-secondary .caret:active{border-color:#fff;}

#header-nav-secondary .dropdown-menu li > a:hover, #header-nav-secondary .dropdown-menu .active > a, #header-nav-secondary .dropdown-menu .active > a:hover {
    background-color: #2c2c2c;
    color: #FFFFFF;
    text-decoration: none;
}

#header-nav-secondary .navbar-search .search-query {
    -moz-transition: none 0s ease 0s;
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    border-radius:5px;
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    padding: 11px 9px;
    box-shadow:none;
    margin-top:-4px;
}


.search-border-remove {
border:none;
}

/* =================== COLLECTION CONTAINERS ======================== */


#collection-container .container,
#collection-container .container {
  width: 940px;
}
#collection-container .span12 {
  width: 940px;
}
#collection-container .span11 {
  width: 860px;
}
#collection-container .span10 {
  width: 780px;
}
#collection-container .span9 {
  width: 700px;
}
#collection-container .span8 {
  width: 620px;
}
#collection-container .span7 {
  width: 540px;
}
#collection-container .span6 {
  width: 460px;
}
#collection-container .span5 {
  width: 380px;
}
#collection-container .span4 {
  width: 300px;
}
#collection-container .span3 {
  width: 220px;
}
#collection-container .span2 {
  width: 140px;
}
#collection-container .span1 {
  width: 60px;
}
#collection-container .offset12 {
  margin-left: 980px;
}
#collection-container .offset11 {
  margin-left: 900px;
}
#collection-container .offset10 {
  margin-left: 820px;
}
#collection-container .offset9 {
  margin-left: 740px;
}
#collection-container .offset8 {
  margin-left: 660px;
}
#collection-container .offset7 {
  margin-left: 580px;
}
#collection-container .offset6 {
  margin-left: 500px;
}
#collection-container .offset5 {
  margin-left: 420px;
}
#collection-container .offset4 {
  margin-left: 340px;
}
#collection-container .offset3 {
  margin-left: 260px;
}
#collection-container .offset2 {
  margin-left: 180px;
}
#collection-container .offset1 {
  margin-left: 100px;
}


/* Hero */
.textElement54_opportune {
font: 15px 'Droid Sans', Verdana, Helvetica, sans-serif;
line-height:21px;
text-transform:uppercase;
color:#ffffff;
}

.textElement13_generousFullWidth{
font: 15px 'Droid Sans', Verdana, Helvetica, sans-serif;
line-height:21px;
text-transform:uppercase;
}

/* ================ COLLECTION END =========================*/
/*
#index-splash [class*="span"] {
  float: left;
  margin-left: 20px;
}

*/
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
